.Lesson-results {
  margin: 0% 25%;
  width: 50%;
}
h3 {
  font-size: 1.5em
}


h3, p {
  margin: .5% 0%
}

// .student-lesson-results {
//   border-top: 2px solid black;
//   margin-top: 1%;
//   text-align: center;

//   h4, p {
//     margin: .5% 0%
//   }
// }