.modal {
  background-color: white;
  box-shadow: 6px 6px 15px #706f6f;
  height: 50vh;
  margin: 5% 25%;
  padding: 1%;
  position: fixed;
  width: 50vw;
  z-index: 100;
  overflow-y: scroll;

  h1 {
    font-size: 1.5em;
  }

  button {
    padding: 1%
  }
}