.student-mood-input {
  height: 15vh;

}

.submit-mood-button {
  margin-top: 15vh;
  height: 5vh;
  width: 15vw;
  background-color: #CC79A7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 4px ridge #0072B2
}
h4 {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}