.student-mood-input {
  height: 15vh;
  margin-top: 2vh;
}

.submit-mood-button {
  margin-top: 10vh;
  height: 5vh;
  width: 15vw;
  background-color: #CC79A7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 4px ridge #0072B2
}


.students-mood-form {
  display: flex;
  text-align: center;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 10px 10px 10px;
}