.student-mood-input {
  height: 25vh;
  margin-top: 2vh;
  width: 50vw;
  font-family: 'OpenDyslexic-regular';
}

.submit-mood-button {
  margin-top: 10vh;
  height: 8vh;
  width: 18vw;
  background-color: #CC79A7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 4px ridge #0072B2;
  font-family: 'OpenDyslexic-regular';
  font-size: 1.9em;
  padding-bottom: 13vh;
}

.submit-mood-button:hover {
  cursor: pointer;
  transform: scale(1.33);
  transition: transform .7s;
  opacity: .98;
}

.students-mood-form {
  display: flex;
  text-align: center;
  // flex-wrap: wrap;
  font-size: .7em;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
