.display-question {
  font-size: 3.5vw;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.question-button {
  width: 40%;
  height: 9vh;
  // padding: 10px;
  font-size: xx-large;
  border-radius: 5px;
  margin: 20px;
  background-color: #CC79A7;
  border: none;
  cursor: pointer;
  border: 4px ridge #0072B2;
  font-family: 'OpenDyslexic-regular';
}


.question-button:hover {
  cursor: pointer;
  transform: scale(1.33);
  transition: transform .7s;
  opacity: .98;
}

.question-button:focus {
  outline: 3px solid #D55E00
}


