.teacher-header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 1;
  background-color: #CC6677;
  box-shadow: 0px 0px 6px #706f6f
}

.logo-img {
 height: 60px;
}

.header-btn-container {
  align-self: flex-end;
  display: flex;
  height: 60%;
  justify-content: space-between;
  width: 40%;
  margin-right: 4vw;
}

.header-btn {
  background-color: #CC6677;
  padding: 2.5%;
  text-align: center;
  text-decoration: none;
  height: fit-content;
  border-radius: 10px;
  // box-shadow: 1px 1px 3px #706F6F;
  color: black;
  font-size: 1.5vw;
}

.header-btn:hover {
  background-color: white
}
// .header-title:hover,
// .header-btn:hover {
//   background-color: #edd7d2;
//   cursor: pointer;
//   transform: scale(1.22);
//   transition: transform .7s;
// }


.header-btn-active {
  color: black;
  background-color: #DDCC77
}

.header-btn:link,
.header-btn:visited {
  // color: black;
  text-decoration: none
}

.header-title {
  color: black;
  margin-left: 5vh;
  font-family: 'OpenDyslexic-regular';
  background-color: #DDCC77;
  padding: 5.5%;
  text-align: center;
  display: flex;
  text-decoration: none;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #706F6F;
  font-size: 2vw;
}


.header-title:active {
  color: tomato;
}