.question-form-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-evenly;
  background-color: #C6c6c6;
  width: 50vw;
}

.question-form-input {
  display: flex;
  height: 5%;
  justify-content: space-between;
  width: 70%;

  label {
    padding: 1%;
    text-align: end;
    width: 30%;
    font-size: 11px;
  }

  input {
    padding: 1%;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
  }
}

.assigned-reading-input {
  display: flex;
  height: 15%;
  justify-content: space-between;
  width: 70%;

  label {
    padding: 2%;
    text-align: end;
    width: 30%;
    font-size: 11px;
  }

  textarea {
    padding: 1%;
    width: 70%
  }
}

.add-question-btn {
  height: fit-content;
  width: fit-content;
  background-color: #D2Daed;
  padding: 1%;
  border-radius: 10px;
}