.lesson-preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-evenly;
  overflow: scroll;
  width: 50vw;
  background-color: #44AA99;
}

.lesson-preview-title {
  
  font-size: 24px;
}

.question-cards-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: scroll;
  width: 100%;
}

.no-questions-message { 
  margin-top: 35%;
  text-align: center;
}

.no-questions-message {
  font-weight: bold;
}

.generate-lesson-btn {
  height: fit-content;
  width: fit-content;
  background-color: #D2Daed;
  padding: 1%;
  border-radius: 10px;
  background-color: #DDCC77;
    padding: 2%;
    font-weight: bold;
    border: none;
}