.create-student-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: space-around;
  height: 90%;
  width: 100%;

  section {
    height: 10%;
    width: 50%;
  }
}

.student-name-label {
  height: 100%;
  width: 40%
}

.student-name-input {
  height: 100%;
  padding: 2%;
  width: 60%;
}

.create-student-submit-btn {
  align-self: center;
  background-color: #D2Daed;
  border-radius: 10px;
  height: fit-content;
  padding: 1%;
  width: fit-content;
}

.create-student-submit-btn:hover {
  background-color: #b8bfcf;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
}