.teacher-lessons {
  background-color: #C6C6C6;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100vw;

   h1 {
    height: 10%;
    text-align: center;
  }

  h3 {
    height: 50%;
    text-align: center;
  }
 
  p {
    font-size: 1.25em;
    margin-bottom: 1%;
    text-align: center;
  }
}
