.teacher-lessons {
  align-items: end;
  background-color: #88CCEE;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 85vh;
  justify-items: center;
  overflow: scroll;
  width: 100vw;

  h1 {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    text-align: center;
    margin-top: 1.5vh;
  }

  h3 {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    text-align: center;
  }

  p {
    font-size: 1.25em;
    margin-bottom: 1%;
    text-align: center;
  }
}
