.teacher-lessons {
  background-color: #C6C6C6;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100vw;

  h1 {
    margin: .5% 0%;
    text-align: center;
  }

  h3 {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    text-align: center;
  }

  p {
    margin: .5% 0%;
    text-align: center
  }
}
