.question-card {
  align-items: center;
  border-bottom: solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 50%;
  padding: 2%;
  background-color: #FFFF;
  margin: 1vw;
  p {
    width: 100%
  }

  button {
    height: fit-content;
    width: fit-content;
    background-color: #D2Daed;
    padding: 1%;
    border-radius: 10px;
  }
}

.question-card-category {
  font-weight: 600;
}

.question-card-reading {
  border-bottom: solid 1px;
  max-height: 35%;
  overflow: scroll;
}

// .incorrect-answers {
//   text-align: center;
// }