.question-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3%;
  max-height: 40%;

  button {
    height: 5%;
    justify-self: center;
  }
}

.question-card-reading {
  max-height: 25%;
  overflow: scroll;
}